.friend-about {
  width: 50%;
  display: block;
  margin: auto;
  border: 5px solid silver;
  padding: 40px;
  border-radius: 5px;
}
.main-heading {
  color: salmon;
  text-align: center;
}
.friend-name,
p {
  color: blue;
  text-align: left;
}
.regular-btn {
  width: 150px;
  cursor: pointer;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 5px;
}
